@import url("/static/fonts/Nunito/Nunito.css");
@import url("/static/fonts/PTSerif/PTSerif.css");

html, body
{
  margin: 0;
  padding: 0;
}

body
{
  background: #242424;
  color: #ECECEC;

  font-family: "Nunito", sans-serif;
}

::-moz-focus-inner
{ border: none; }

body h1
{
  display: block;
  margin: 1em auto;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
}

main
{
  margin: 0 5%;
}

main form input,
main form button
{
  transition: background 0.1s ease-in;
  display: block;
  margin: auto;
  padding: 1em;
  width: 25rem;
  box-sizing: border-box;

  background: #141414;
  border: none;
  outline: none;

  font-size: 1.3em;
  text-align: center;
}
main form input[type="submit"],
main form button
{ cursor: pointer; }

main form input[type="submit"]
{ margin-top: 1em; }

main form input:focus,
main form input[type="submit"]:hover,
main form button:hover
{ background: #1D1D1D; }

main form input[name="title"],
main form input[name="title"]:focus
{
  background: transparent;
  font-family: "PT Serif", serif;
  font-size: 1.5em;
}

main #choices .choice
{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 25rem;
}
main #choices .choice > *
{ margin: 0; }
main #choices .choice input
{ font-family: "PT Serif", serif; }
main #choices .choice .delete
{
  background: #FF2E31;
  width: 4em;
}

footer
{
  display: block;
  margin: 5em;
  color: #8E8E8E;

  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
}